<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        .wrapper
            header.header
                nav.header__wrapp
                    ul.header__list
                        li.header__item 
                            a(href="#") Онлайн обучение
                        li.header__item
                            a(href="#") Проекты
                        li.header__item
                            a(href="#") Бибилиотека
                        li.header__item
                            a(href="#") Форумы
            section.hero
                .hero__wrapp
                    .hero__left
                        h2.hero__h2 Корпоративная Бибилиотека
                        .hero__info Приглашаем в корпоративную электронную библиотеку! Зарегестрируйтесь и читайте самые интересные книги безлимитно, круглосуточно, бесплатно.
                        .hero__buttons
                            button.hero__sign.in Войти в библиотеку
                            button.hero__sign.up Зарегистрироваться
                    .hero__right
                        img(src="img/library.png")
            .alert
                img(src="img/star.png", alt="иконка")
                .alert__text
                    p Вы успешно зарегестрированы!
                    p Логин и пароль на библиотеку отправлен на вашу почту.
                    p Нажмите "Войти" на странице библиотеки, чтобы начать читать и развиваться.
                .alert__button
                    button.alert__ok Ok
            section.aboutUs
                .aboutUs__text Корпоративная бибилиотека - это возможность
                .aboutUs__inform
                    .aboutUs__line
                    .aboutUs__icons
                        .aboutUs__item
                            img(src="img/i01.png")
                            p Обновлять деловые компетенции
                        .aboutUs__item
                            img(src="img/i02.png")
                            p Профессионально развиваться
                        .aboutUs__item
                            img(src="img/i03.png")
                            p Эффективнее справляться с текущей работой
                        .aboutUs__item
                            img(src="img/i04.png")
                            p Быть в курсе современных бизнес-тенденций   
            footer.footer
                p OOO "СК "Согласие"
    script(src="js/main.js")